<!DOCTYPE html>
<html>
<head>
    <%- include('./../partials/head') -%>
</head>
<body>
    <script>
        function proximaPergunta(){
            window.location.href = "/pergunta";
        }
      </script>
    <header>
        <%- include('./../partials/header') -%>
    </header>
    <div class="container-me text-center">
        <h4>A resposta correta de "<%= pergunta.descricao %>", é:</h4>
        <br/>
        <input 
            class="btn btn-primary btn-lg btn-block" 
            type="button" 
            value="<%= pergunta.opcoes[0].texto %>" 
            <%if (pergunta.opcoes[0].isCorrect == false) { %>
                disabled    
            <% } %>
        />
        <br/><br/>
        <input 
            class="btn btn-primary btn-lg btn-block" 
            type="button" 
            value="<%= pergunta.opcoes[1].texto %>" 
            <%if (pergunta.opcoes[1].isCorrect == false) { %>
                disabled    
            <% } %>
        />
        <br/><br/>
        <input 
            class="btn btn-primary btn-lg btn-block" 
            type="button" 
            value="<%= pergunta.opcoes[2].texto %>" 
            <%if (pergunta.opcoes[2].isCorrect == false) { %>
                disabled    
            <% } %>
        />
        <br/><br/>
        <input 
            class="btn btn-primary btn-lg btn-block" 
            type="button" 
            value="<%= pergunta.opcoes[3].texto %>" 
            <%if (pergunta.opcoes[3].isCorrect == false) { %>
                disabled    
            <% } %>
        />
        <br/><br/><br/><br/>
        <input 
            class="btn btn-primary btn-lg btn-block" 
            type="button" 
            value="Pr&oacute;xima pergunta" 
            onclick="proximaPergunta()"
        />
    </div>
    <footer>
        <%- include('./../partials/footer') -%>
    </footer>
</body>
</html>