<!DOCTYPE html>
<html>
<head>
    <%- include('./../partials/head') -%>
</head>
<body>
    <script type="text/javascript">
        function verificarResposta(){
            pergId = document.getElementById('pergId').value;
            //console.log('clique ' +  pergId);
            window.location.href = "/pergunta/check/"+pergId;
        }
    </script>
    <header>
        <%- include('./../partials/header') -%>
    </header>
    <div class="container-md text-center m-2">
        <input type="hidden" id="pergId" value="<%= pergunta.id %>" />
        <h4><%= pergunta.descricao %></h4>
        <br/>
        <input 
            class="btn btn-primary btn-lg btn-block" 
            type="button" 
            value="<%= pergunta.opcoes[0].texto %>" 
            onclick="verificarResposta()" 
        /> 
        <br/><br/>
        <input 
            class="btn btn-primary btn-lg btn-block" 
            type="button" 
            value="<%= pergunta.opcoes[1].texto %>" 
            onclick="verificarResposta()" 
        /> 
        <br/><br/>
        <input 
            class="btn btn-primary btn-lg btn-block" 
            type="button" 
            value="<%= pergunta.opcoes[2].texto %>" 
            onclick="verificarResposta()" 
        />
        <br/><br/>
        <input 
            class="btn btn-primary btn-lg btn-block" 
            type="button" 
            value="<%= pergunta.opcoes[3].texto %>" 
            onclick="verificarResposta()" 
        />
    </div>
    <footer>
        <%- include('./../partials/footer') -%>
    </footer>
</body>
</html>